body {
  background-image: url('./background.png');
  background-color: #BEBEBE;
  margin-bottom: 60px;
  font-family: 'Ubuntu', cursive;
}
h1 {
  font-size: 72px;
  line-height: 96px;
  margin-top: 60px;
  font-weight: 700;
}
#title {
  text-align: center;
  margin-bottom: 60px;
}
.show-grid [class*='span'] {
  text-align: center;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
  margin-bottom: 25px;
}
.span12:hover, .span4:hover, .span3:hover {
  -webkit-transform: scale( 1.05 );
  -moz-transform: scale( 1.05 );
}
.grid-large {
  height: 64px;
  line-height: 64px;
  font-size: 40px;
}
.grid-normal {
  height: 50px;
  line-height: 50px;
  font-size: 26px;
}
.grid-small {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.red {
  background-color: #C6485B;
  color: #fff;
}
.blue {
  background-color: #029EBC;
  color: #fff;
}
.yellow {
  background-color: #F4C504;
  color: #fff;
}
.green {
  background-color: #7EBA03;
  color: #fff;
}
.pink {
  background-color: #E184A5;
  color: #fff;
}
.purple {
  background-color: #8C177E;
  color: #fff;
}
.orange {
  background-color: #F79708;
  color: #fff;
}
.white {
  background-color: #FFF;
  color: #000;
}
